* {
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    height: 100vh;
    background-color: bisque;
    /* background-image: url("biji.jpg"); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

p {
    color: rgb(26, 25, 25);
    font-family: 'Open Sans', sans-serif;
    padding-top: 10px;
}

h1 {
    text-align: center;
    padding-bottom: 20px;
}

a {
    color: brown;
    font-family: 'Open Sans', sans-serif;
}

.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 25px;
    width: 300px;
    background-color: rgba(255, 255, 255, .9);
    box-shadow: 0 0 10px rgba(255, 255, 255, .3);
}

.container h1 {
    text-align: left;
    color: #1d1d1d;
    margin-bottom: 30px;
    border-bottom: 5px solid#1d1d1d;
}

.container label {
    text-align: left;
    color: #1d1d1d;
}

.container form input {
    width: calc(100% - 20px);
    padding: 8px 10px;
    margin-bottom: 15px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #1d1d1d;
    color: #1d1d1d;
    font-size: 20px;
}

.container form button {
    width: 100%;
    height: 40px;
    padding: 5px 0;
    border: none;
    background-color: #752BEA;
    font-size: 18px;
    color: #fafafa;
    border-radius: 20px;
}

h5 {
    text-align: center;
    color: grey;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: #333; */
}

li {
    float: right;
}

li a {
    display: block;
    text-align: center;
    padding: 16px 20px;
    text-decoration: none;
}

.contact {
    background-color: white;
    border-radius: 30px;
    padding-top: 20px;
}

.home {
    background-color: white;
    border-radius: 30px;
    padding-top: 20px;
}

.khusus {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}